<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GWvW_Overlay_Location_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="wsdl">
                    <serviceMetadata httpGetEnabled="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="GWvW_Overlay_Location_Server.LocationService"
                     behaviorConfiguration="wsdl">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://0.0.0.0:30000/"/>
                    </baseAddresses>
                </host>
                <endpoint contract="GWvW_Overlay_Location_Server_Contracts.ILocationService"
                          binding="netTcpBinding"
                          address="net.tcp://0.0.0.0:30001"
                          bindingConfiguration=""/>
                <endpoint contract="IMetadataExchange"
                          address="mex"
                          binding="mexHttpBinding"/>
            </service>
        </services>
        <bindings>
        </bindings>
    </system.serviceModel>
    <applicationSettings>
        <GWvW_Overlay_Location_Server.Properties.Settings>
            <setting name="timer_timelapse" serializeAs="String">
                <value>150</value>
            </setting>
        </GWvW_Overlay_Location_Server.Properties.Settings>
    </applicationSettings>
</configuration>